body {
    font-family: 'ZCOOL KuaiLe', cursive;
    background-image: url(glass.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    background-size: cover;
       
}

h1 {
    background-color: rgba(235, 214, 214, 0.8);
    color:rgb(206, 5, 5);
    margin:auto;
    margin-top:20px;
    width:50%;
    border-style: hidden;
    border-radius: 20%;
    padding:10px;
    text-align: center;
    
}

img {
    border-style: hidden;
    border-radius: 50%;
}


img:hover {
    background-color: rgb(231, 8, 8);
    transition: 0.9s;
}

